#header, #footer {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

#header {
  font-size: small;
  position: relative;
  top: 0px;
  height: 50px;
}

.lH {
  float: left;
  padding-left: 20px;
  color: rgb(0,0,0,0.87);
}

.rH {
  float:right;
  padding-right: 15px;
  color: #666;
  position: relative;
}

.rM {
  margin-right: 20px;
}

.center{
  padding-top: 15px;
}

.app {
  width: 25px;
  position: relative;
  top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  display: inline;
  color: #666
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 10%;
}

#search {
text-align: center;
}

.searchB {
  margin-top: 20px;
}

.sB {
  margin-top: 18px;
}


#footer {
  position: absolute;
  bottom: 0;
  border-top: solid 1px #e4e4e4;
  background: #f2f2f2;
  width: 100%;
  height: 40px;
  display: inline;
  font-size: small;

}

.lF {
  float: left;
  padding-left: 30px;
  color: #666;
  margin-top: 13px;
}

.rF {
  float: right;
  margin-top: 13px;
  padding-right: 30px;
  color: #666;
}
